body {
  background-color: black;
}
.b-detail {
  width: 50%;
  margin: 50px auto;
  text-align: center;
  align-items: center;
  h2 {
    padding: 30px 0px;
    color: white;
  }
}

.b-boxdetail {
  width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: row;
  color: white;
  gap: 30px;
}

.b-boxdetailsmall {
  h3 {
    font-size: 25px;
  }
  width: 250px;
  height: 250px;
  img{
    width: 100%;
  }
}
.b-boxdetailimage {
  h3 {
    font-size: 25px;
  }
  width: 200px;
  height: 200px;
  img{
    width: 100%;
  }
}

.b-tipo{

    font-family: Helvetica, sans-serif;
 

}
