.buscador {
    padding: 7px;
    background-color: black;
   width: 700px;
    border-top: 10px white;
    border-right: none;
    border-left: none;
    position: absolute;
    top: 28px;
    
    
}