.cajaFlecha {
    background-color: black;
    border: none;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    font-size: 16px;
    // margin-top: 20px;
    // margin-left: 20px;
    position: absolute;
    top:25px;
    left: 90px;
    cursor: pointer;
}
.flechaGoBack {
    width: 50px;
    
}

