.c-nav {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  
  width: 100vw;
  
  text-decoration: none;
  
  position: absolute;
  bottom: 0px;
  padding-bottom: 80px;

  a {
    color: white;
    font-size: 30px;
  }
}
.b-buttons{

  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: flex-end;
  margin-right: 20px;
  position: absolute;
  right: 20px;
  top: 20px;

}


.b-buttonNav{
  position: relative;
  z-index: 1;
  height: 40px;
  min-width: 80px;
}

.b-imagenHome {
  position: relative;
  z-index: 1;
  height: 40px;
  width: 40px;
  background-color: white;
}