.c-nav {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  
  width: 100vw;
  
  text-decoration: none;
  
  position: absolute;
  bottom: 0px;
  padding-bottom: 80px;

  a {
    color: white;
    font-size: 30px;
  }
}

.b-buttons{

  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: flex-end;
  padding: 10px;
  margin-right: 20px;
  background-color: transparent;

}


.b-buttonNav{
  position: relative;
  height: 40px;
  min-width: 80px;
  //background-image: url("../../../public/images/español.png");
  //url("../../../public/images/imageHome.png")

//background-color: red;

 
}